{% extends "template.html" %}

{% block main %}
    <ul class="collection">
        
        {% for post in posts %}
            <li class="collection-item avatar">
                <img src="" alt="" class="circle">
                <span class="title">{{post.post.post_time}}</span>
                <p>
                    {{post.post.post_text}}
                </p>
                <ul class="collection">
                    {% for comment in post.comments %}
                        <li class="collection-item">
                            Votes: {{comment.votes}}<br>
                            {{comment.post_text}}<br>
                            Posted on: {{comment.post_time}}
                        </li>
                    {% endfor %}
                </ul>
                <p>Comment here:</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_instance" id="post_instance" value="{{post.post.id}}"}>
                    <input placeholder="Enter your comment here" type="text" name="new_comment" id="new_comment">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
    
{% endblock main %}
    